* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

@media (min-width: 0px) {

    .tittle-banner{
        font-size: 34px;
    }

    .box-button {
        margin-left: 70px;
    }

    .box-tittle-form {
        width: 300px;
    }

    .tittle-event{
        font-size: 50px;
    }
    
   

    
}   

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .tittle-event{
        font-size: 98px;
    }
    .box-button {
        margin-left: 300px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .box-tittle-form {
        width: 200px;
    }
    .box-img-form {
        margin-top: 90px;
        margin-left: 0px;
    }
    .box-button {
        margin-left: 0;
    }
    button {
        width: 10px;
        height: 10px;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .box-tittle-form {
        width: 300px;
    }
    .box-button {
        margin-left: 40px
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .tittle-banner {
        font-size: 56px;
    }
    .box-img-form {
        margin-top: 90px;
        margin-left: 0px;
    }
    .box-button{
        margin-bottom: 5px;
    }
 
}



.advertising-header {
    background-color: black;
    
    .text {
        font-size: 14px;
        color: white;
        text-align: center;
    }   
}
header {
    .icon-nav {
        width: 100%;
    }
    .box-button-icon {
        width: 48px;    
        height: 45px;
    }
}
.section-banner {
    .box-image {
        background: linear-gradient(rgba(104, 8, 8, 0.842)), url(/assets/img/MaskGrou.png);
        background-repeat: no-repeat;
        background-size: cover;

        
        p {
            color: #FFFF;
            font-size: 14px;
            font-family: Rozha One;
            line-height: 19px;
            font-weight: 400;
        }

        h1 {
            font-style: normal;
            font-family: Rozha One;
            font-weight: 400;
            line-height: 38px;
            color: #FFFF;
        }

        .banner-productos {
            position: relative;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFF;
            }
        .banner-productos::after {
            content: "";
            position: absolute;
            display: block;
            margin-top: 5px;
            width: 152px;
            height: 2px;
            background-color: #FFFF;
            }
        }
    }
    .img1 {
        width: 100%;
        height: 100%;
    }
    .img2 {
        position: relative;
        width: 100%;
        height: 100%;
    }
.section-terms { 
    height: 270px;
    background-color: #F1F1F1;

    .suscribirse {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: black;
    }
    .suscribirse::after {
        content: "";
        position: absolute;
        display: block;
        margin-top: 5px;
        width: 125px;
        height: 3px;
        background-color: black;

    }

    .box-terms {
 
        .box-terms-txt{
            margin-top: 20px;
            width: 601px;

            .hr-terms {
                height: 3px;
            }
        }
    }
}
.banner-slide {

    .box-slide {

        h1 {
            color:#F0F0F0;
            margin-top: 70px;
            font-size: 87px;
            font-family: Rozha One;
            line-height: 30px;   
        }
    }
}
.box-cards {
    margin-top: 100px;
    
    .box-card {
        width: 580px;
    }
}
.box-button-slide {
    margin-top: 100px;
    margin-bottom: 50px;
    .ver-button {
        width: 110px;
        height: 40px;
        border-radius: 15px;
    }
}
.box-card-event{

    .tittle-event {
        margin-top: 70px;
        font-family: Rozha One;
        color:  #DEDEDE;
        line-height: 30px;
    }
    h4 {
        font-family: Titillium Web;
        font-size: 28px;
    }
}
.box-paragrach-event {
    margin-top: 200px;

    p {
        font-size: 28px;
        font-family: Rozha One;
        line-height: 28px;
        font-weight: 400;
    }
}
.box-showroom {
    margin-top: 230px;

    .event-showroom {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFF;
    }
    .event-showroom::after {
        content: "";
        position: absolute;
        display: block;
        margin-top: 5px;
        width: 152px;
        height: 2px;
        background-color: #FFFF;
    }
} 
.section-event {
    background: linear-gradient(rgba(5, 7, 12, 0.699)), url(/assets/img/image.png);
    background-repeat: none;
    background-size: cover;
}
footer {
    .box-tittle-form {
        margin-right: 80px;

        .box-lits-form {
            margin-top: 60px;
        }

        .a-form-icon {
            margin-left: 10px;
        }
    }
    background-color: #757575;

    .facebook {
        margin-left: 20px;
    }
    .Instagram {
        margin-left: 20px;
    }
    h5 {
        font-size: 18px;
        color: #FFFF;
        font-weight: 700;
        line-height: 17px;
    }
    .a-form {
        margin-top: 18px;
    }
}


